body {
  background-color: black;
}
h1 {
  font-family: 'Sofia', cursive;
  text-align: center;
  color: white;
}
#slideshow .item img{
  display: block;
  margin: 0 auto;
  width: auto;
  height: 600px;
}
